{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Clientes</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">MRR previsto</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Negócios</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Atividades</h5><span>Mês atual</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Logo churn</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">MRR churn</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Net churn</h5><span>Mês atual</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Churn rate</h5><span>Mês atual</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Atualizações</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}