{% extends 'base.html' %}

{% block title %}Detalhe{% endblock %}

{% block main %}
    {{ cliente.nome }}
    {{ cliente.cidade }}
    {{ cliente.data_nascimento }}
    {{ cliente.cpf_cnpj }}
    {{ cliente.identificador }}
    {{ cliente.porte }}
    {{ cliente.carteira }}
    {{ cliente.ciclo_de_vida }}
    {{ cliente.nota_NPS }}
    <small>(<a href="{% url 'editar_cliente' cliente.pk %}">Editar</a>)</small><small>(<a href="{% url 'deletar_cliente' cliente.pk %}">Deletar</a>)</small>
{% endblock %}